<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>
  <div class="window">
    <a class="a-buttons" href = "/login">Вход</a>
    <br>
    <a class="a-buttons" href = "/reg">Регистрация</a>
  </div>
</body>
</html>