<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newOrders</title>
</head>
<body>
    <% const back_ = `/profile?Login=${back}&admin=${admin}` %>
    <a href="<%=back_ %>">Вернуться назад</a>
    <form method="post">
        <p>Логин врача: <input type="text" name="Login" required></p>
        <p>Дата(мм/дд/гггг): <input type="text" name="date" required></p>
        <p>Время(чч/мм/сс): <input type="text" name="time" required></p>
        <p>Примечание: <input type="text" name="note" value="<%= null %>"></p>
        <button type="submit">Добавить новую запись на прием</button>
    </form>
</body>
</html>